*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background: #fafafc;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 65px;
}

header{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px;
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    margin-top: 25px;
    background-color: white;
}

.inputs{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

ul li div{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.yellow div{
    background-color: #F3DB7D;
}

.green div{
    background-color: #C2F37D;
}

.blue div{
    background-color: #7DE1F3;
}

.red div{
    background-color: #F37D7D;
}

.purple div{
    background-color: #E77DF3;
}